.main-navigation {
	clear: both;
	display: block;
	float: none;
	width: 100%;
	@include font-size(0.9)

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		background: rgba(0,0,0,0.1);

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.4em;
			left: -999em;
			z-index: 99999;
			background: $color__background-button;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
				color: $color__text-light;
			}

			a:hover,
			a.focus {
				color: $color__text-light;
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
			margin-top: 1.4em;

			ul {
				margin-top: 0;
			}
		}
	}

	li {
		float: left;
		display: inline-block;
		position: relative;

		&:hover > a,
		&.focus > a {
			color: $color__text-light;
			box-shadow: inset 0 -100px 0 rgba(0,0,0,0.1);
			transition: 0.2s all ease-in-out;
		}
	}

	a {
		display: block;
		text-decoration: none;
		color: $color__text-light;
		padding: 12px 8px 6px;
		box-shadow: inset 0 -1px 0 rgba(0,0,0,0.1);
		transition: 0.2s all ease-in-out;

		&:visited {
			color: $color__text-light;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.menu-toggle:before {
	content: "\2630";
	display: inline-block;
	margin-right: 5px;
}

@media screen and (min-width: #{$breakpoint_tablet}) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
		text-align: center;

		li {
			float: none;
			text-align: center;
		}
	}
}
