.jetpack-social-navigation {
  a {
    margin: 0 3px;

    &::before {
  		content: '\f476';
      color: $color__text-screen;
      border-radius: 50%;
      padding: 8px;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
      background: $color__background-body;
      // background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.05));
      border: 1px solid rgba(0, 0, 0, 0.15);
      // box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.07), inset 0 1px 0 0 rgba(255, 255, 255, 0.30), inset 0 -1px 0 0 rgba(255, 255, 255, 0.10), 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: 0.2s all ease-in-out;
      display: inline !important;
      @include font-size(1.4);
  	}

  	&[href*="facebook.com"]::before {
  		content: '\f204' !important;
  		// background-color: #3b5998;
  	}

  	&[href*="plus.google"]::before {
  		content: '\f206';
  		// background-color: #dd4b39;
  	}

  	&[href*="twitter"]::before {
  		content: '\f202';
  		// background-color: #00aced;
  	}

  	&[href*="github"]::before {
  		content: '\f200';
  		// background-color: #171516;
  	}

  	&[href*="youtube"]::before {
  		content: '\f213';
  		// background-color: #bb0000;
  	}

  	&[href*="linkedin"]::before {
  		content: '\f207';
  		// background-color: #007bb6;
  	}


    &:hover::before {
      opacity: 0.8;
      margin-top: -8px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.1);
      transition: 0.2s all ease-in-out;
    }

  }
}
