.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

// Front page hero goes here

.hero-container {
	position: relative;
	margin: 50px auto 100px;
	box-shadow: 0 20px 80px rgba(0,0,0,.25);
	overflow: hidden;
}

.hero-container img {
	position: absolute;
	height: 100%;
	width: auto;
	min-width: 100%;
}

.hero-container .hero-content {
	padding: 40px 60px 50px;
	position: relative;
	z-index: 1;
	color: $color__text-screen;
}

.hero-container h1 {
	margin: 0;
}

.hero-container p {
	margin-top: 0;
	margin-bottom: 22px;

	&:first-of-type {
		@include font-size(1.4);
	}
}
