$color__background-body: #fefefe;
$color__background-screen: #fefefe;
$color__background-hr: #ccc;
$color__background-button: #000000;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-highlight: #cc2a41;
$color__white: #ffffff;

$color__text-main: #555555;
$color__text-screen: #212121;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $color__text-main;
$color__link-visited: $color__text-main;
$color__link-hover: #cc2a41;
$color__text-light: #f2f2f2;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
