$font__main: 'Overpass', sans-serif;
$font__regular: 'Overpass', sans-serif;
$font__serif: 'SortsMillGoudyTTItalic', serif;
$font__code: Monaco, Consolas, "Droid Sans Mono", "Ubuntu Mono", "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.625;
$font__line-height-pre: 1.6;
$font__line-height-heading: 1.2;
