button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	font-face: $font__regular;
	background-color: $color__background-button;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 3px;
	color: $color__white;
	cursor: pointer;
	@include font-size(1);
	letter-spacing: 1px;
	padding: 8px 16px;
	text-transform: uppercase;
	width: auto;
	white-space: nowrap;

	&:hover,
	&:active,
	&:focus {
		background-color: $color__background-highlight;
		color: $color__text-light;
	}
}
