@import "../components/navigation-top";

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		overflow: hidden;

		padding: 40px 30px 40px 40px;
		background: $color__background-screen;
		margin: 0;
		border-bottom: 1px solid rgba(0,0,0,0.1);
		box-shadow: inset 2px 1px 2px 0 rgba(0,0,0,0.1),
								1px 0 2px 0 rgba(0,0,0,0.1);
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
